<h1><%= @article.name %></h1>

<p>
  <%= markdown @article.text %>
</p>

<p>
<%= link_to "Back to #{params[:category_name]}", category_path(params[:category_name]) %>
</p>

<div id="backgroundText"><%= @article.name %></div>
