<!DOCTYPE html>
<html>
<head>
</head>

<body>
  <h1>Sitio del Programador</h1>
  <p>
    Salutations and welcome to my website. My name is Brendon Boldt; "Brendon" comes from a Latinized Welsh name meaning "prince"; "Boldt" is a name of Prussian origin meaning bold or brave. There is much more to know about me (believe it, it is true) so you can head over to the Aristotilean<%= link_to "categories", categories_path %> section. There's more to come, so definitely favorite this page (Ctrl + D or Cmd + D).
  </p>
</body>
</html>
