<!DOCTYPE html>
<html>
<head>
</head>

<body>
  <h1>Sitio del Programador</h1>
  <div>
    <p>
    Salutations and welcome to my website. My name is Brendon Boldt; "Brendon" comes from a Latinized Welsh name meaning "prince"; "Boldt" is a name of Prussian origin meaning bold or brave. There is much more to know about me (believe it, it is true) so you can head over to the Aristotilean <%= link_to "categories", categories_path %> section. There's more to come, so definitely favorite this page (Ctrl + D or Cmd + D).
    </p>

    <p>
    Since you have made it past the first paragraph, that means you at least have more than a cursor interest in who I am. I play many roles in this humble life of mine, but to name a few, I am a programmer, computer scientist, philosopher, flautist, oboist, composer, pianist, snowboarder. polytropic man, gentleman, and polymath. I take life head-on (do not apply directly to the forehead) and shirk at no opportunity. See you on the battlefield!
    </p>
  </div>
</body>
</html>
