<h1><%= @category.name %></h1>

<%= render 'form' %>

<p><%= link_to 'Back', controller: 'categories', action: 'show' %></p>
<p><%= link_to 'Delete', category_path(name: @category.name), method: :delete, data: {confirm: "Are you sure you want to delete the category #{@category.name}" } %></p>
