<head>
</head>

<table>
  <tr>
    <th>Categories</th>
  </tr>

  <% @categories.each do |category| %>
    <tr>
      <td><%= link_to category.name, category_path(name: category.name) %></td>
    </tr>
  <% end %>

</table>
